<nav class="navbar navbar-expand-lg py-0">
    <a class="navbar-brand" href="#"><img src="../../public/assest/images/CHEF.png" alt="logo"
        style="height: 60px; width: 80px; border-radius: 50%;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="#">Route1</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="#">Route2</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="#">Route3</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="#">Route4</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-but">
          <a class="btn btn-outline-light" href="#">SignUp</a>
        </li>
        <li class="nav-but">
          <a class="btn btn-outline-light" href="#">Login</a>
        </li>
      </ul>
    </div>
  </nav>



