<% layout('./layout/boilerplate.ejs') %> <%
block('title').append('<title> HOME </title>') %>

<main style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 5rem; padding-top: 2rem;">
  <h1>Welcome, Home :) !!!</h1>
  <div>
    <h3>Routes exposed : </h3>
    <ul>
      <strong>
      <li>/ : (Home)</li>
      <li>/activity/electricity/new</li>
      <li>/activity/waste/new</li>
      <li>/activity/travel/new/?mode={road, air, sea}</li>
      <li>/activity/flight/new</li>
    </strong>
    </ul>
  </div>
</main>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
  crossorigin="anonymous"
></script>
